<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.studios.amit.dsiofficial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hub_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hub_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.studios.amit.dsiofficial.MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.studios.amit.dsiofficial"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <activity
            android:name="com.studios.amit.dsiofficial.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.NewBookActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.BookInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.PostNotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.studios.amit.dsiofficial.NotificationInfoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.studios.amit.dsiofficial.ServerHeartbeatService"
            android:exported="false"
            android:process=":remote" />

        <activity android:name="com.studios.amit.dsiofficial.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.studios.amit.dsiofficial.AboutUsActivity"
            android:label="@string/title_activity_about_us"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name="com.studios.amit.dsiofficial.ChooseSectionActivity"></activity>
    </application>

</manifest>